$textColor: rgb(27, 28, 33);
$linkColor: rgb(255, 62, 121);
$formBorderColor: rgb(234, 234, 234);
$formBorderColorFocuse: rgb(65, 246, 215);

.feed-back {
  background-color: #fff;
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2),
    -2px 0px 4px 0px rgba(69, 79, 126, 0.02);

  .feed-back__img {
    margin: 24px 0px 0px 16px;
  }
  .feed-back__form {
    .feed-back__form-head {
      color: $textColor;
      font-family: TT Lakes;
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: -0.6px;
      text-align: left;
      background-image: url('/src/img/highlight (1).png');
      background-repeat: no-repeat;
      background-size: contain;
      padding-left: 12px;
      margin-top: 32px;
    }
    .feed-back__wrapper {
      display: flex;
      flex-direction: column;
      margin-top: 24px;
      .feed-back__name-form,
      .feed-back__phone-form,
      .feed-back__mail-form,
      .feed-back__message-form {
        margin: 0 16px 16px 16px;
        border: 1px solid $formBorderColor;
        border-radius: 8px;
        min-height: 48px;
        font-family: TT Lakes;
        font-size: 5x;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
        text-align: left;
        padding: 12px 16px;
        outline: none;
        &:focus {
          border-color: $formBorderColorFocuse;
        }
      }
      .feed-back__message-form {
        min-height: 118px;
      }
    }
    .feed-back__text {
      font-family: TT Lakes;
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: 0px;
      text-align: left;
      margin: 16px 16px 23px 16px;
    }
    .feed-back__text a {
      text-decoration: none;
      color: $linkColor;
    }
    .feed-back__button {
      display: block;
      margin-right: 16px;
      margin-left: auto;
    }
  }
}

@media (max-width: 767px) {
  .feed-back {
    width: 100%;
    height: 100%;
  }
  .feed-back_show {
    position: absolute;
    z-index: 5;
  }

  .scrollStop {
    overflow: hidden;
  }
}

// Стили для открытия бургер меню для планшета

@media (min-width: 768px) {
  .feed-back {
    width: 320px;
    height: 100%;
  }
  .feed-back_show {
    position: absolute;
    z-index: 5;
  }
  .scrollStop {
    overflow: hidden;
  }
}

@media (min-width: 1440px) {
  .feed-back_show {
    top: 0;
    right: 0;
    height: 100%;
  }
  .feed-back__img {
    position: absolute;
    left: -86px;
    top: 6px;
  }
  .feed-back__form-head {
    height: 40px;
  }
}
