// Для мобилки
$textColor: rgb(27, 28, 33);
$bgColor: rgb(248, 248, 248);
$textColor2: rgb(126, 126, 130);
$bgColorWhite: #fff;
$borderColor: rgb(184, 255, 236);

.title {
  background-color: $bgColor;
  .title__heading-img {
    display: flex;
    align-items: center;

    .title__img {
      width: 4px;
      height: 40px;
    }
    .title__heading {
      color: $textColor;
      font-family: TT Lakes;
      font-size: 28px;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: -0.6px;
      text-align: left;
      margin: 24px 15px 24px 13px;
    }
    .title__text1,
    .title__img-PC1,
    .title__text2,
    .title__img-PC2 {
      display: none;
    }
  }

  .title__scroll-menu {
    display: flex;
    overflow-x: scroll;
    background: $bgColor;
    margin-left: 17px;
    color: $textColor2;
    input {
      color: $textColor2;
      font-family: TT Lakes;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -0.2px;
      text-align: left;
    }
    .title__button {
      height: 40px;
      border: none;
      background: $bgColor;
      font-family: TT Lakes;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -0.2px;
      text-align: left;
      padding: 0px;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 16px;
      padding-right: 10px;
      &:focus {
        border-radius: 6px;
        background-color: $bgColorWhite;
        border: 2px solid $borderColor;
      }
    }
  }
}

@media (min-width: 1098px) and (max-width: 1439px) {
  .title__scroll-menu {
    margin-right: 17px;
    justify-content: center;
  }
}

@media (min-width: 1440px) {
  .title {
    .title__heading-img {
      display: flex;
      padding-top: 42px;
      color: $textColor;
      font-family: TT Lakes;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -0.2px;
      text-align: right;
      .title__img {
      }
      .title__heading {
        margin: 0px;
        margin-left: 33px;
      }
      .title__text1,
      .title__img-PC1,
      .title__text2,
      .title__img-PC2 {
        display: block;
      }
      .title__img-PC2 {
        margin-left: 9px;
        margin-right: 30px;
      }
      .title__text1 {
        margin-left: auto;
      }
      .title__text2 {
        margin-left: 32px;
      }
      .title__img-PC1 {
        margin-left: 9px;
      }
    }

    .title__scroll-menu {
      margin-left: 37px;
      flex-wrap: wrap;
      .title__button {
        margin-right: 10px;
      }
    }
  }
}
