@font-face {
  font-family: 'TT Lakes';
  src: url('/src/fonts//TTLakes-Medium.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'TT Lakes';
  src: url('/src/fonts/TTLakesCondensed-Bold.woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-size: 25;
}
